beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
configparser==3.5.0
decorator==4.3.0
Django==2.2.24
django-debug-toolbar==1.9.1
django-filter==2.0.0.dev1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==3.2.3
et-xmlfile==1.0.1
gunicorn==19.8.1
html5lib==1.0.1
idna==2.7
jdcal==1.4
lxml==4.2.3
mysqlclient==1.3.12
openpyxl==2.5.4
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyJWT==1.6.4
pytz==2018.4
requests==2.19.1
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
whitenoise==4.0b4
